<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />
<script>


</script>

<body>
	<div class="container">
		<div th:replace="fragments/bodyHeader :: bodyHeader" />
		<main class="form-signin">
		  <form action="/member/login" method="post">
		    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
		
		    <div class="form-floating">
		      <input type="email" class="form-control" id="floatingInput"  name="email"  placeholder="name@example.com">
		      <label for="floatingInput">Email address</label>
		    </div>
		    <div class="form-floating">
		      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
		      <label for="floatingPassword">Password</label>
		    </div>
		
		    <div class="checkbox mb-3">
		      <label>
		        <input type="checkbox" value="remember-me"> Remember me
		      </label>
		    </div>
		    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		    <a href="/memberjoin"><button class="w-100 btn btn-lg btn-primary" type="button">회원가입</button></a>
		  </form>
		</main>
		<div th:replace="fragments/footer :: footer" />
	</div> <!-- /container -->
</body>

</html>