<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
     <h2 th:object="${post}"></h2> check
     
        <div class="container">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                      	 <td th:text="${post.title}">10000</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div> <!-- /container -->
    </body>
</html>